<!DOCTYPE html>
<html>
<head>
	<title>RI</title>
	<script src="/js/jquery-1.11.2.min.js"></script>
</head>
<body style="text-align:center;height:100%">

	<button id="start" style="padding:10px;">Start Downloading</button>

	<script>
		
		function start(serverNumber) {
			$.post('http://localhost:300'+serverNumber+'/danger/parse',function(data){
				alert('300'+serverNumber+' is done');
			});
		}

		$(document).ready(function(){

				// start(0);
				// start(1);
				start(2);
				// start(3);


		});

	</script>

</body>
</html>