<!DOCTYPE html>
<html>
<head>
	<title>RI</title>
	<script src="/js/jquery-1.11.2.min.js"></script>
</head>
<body style="text-align:center;height:100%">

	<button id="start" style="padding:10px;">Start Downloading</button>
	<button id="stops0" style="padding:10px;">Stop Downloading (S0)</button>
	<button id="stops1" style="padding:10px;">Stop Downloading (S1)</button>
	<button id="stops2" style="padding:10px;">Stop Downloading (S2)</button>
	<button id="stops3" style="padding:10px;">Stop Downloading (S3)</button>
	<button id="statuss0" onclick="threadStatus(0)" style="padding:10px;">Refresh (S0)</button>
	<button id="statuss1" onclick="threadStatus(1)" style="padding:10px;">Refresh (S1)</button>
	<button id="statuss2" onclick="threadStatus(2)" style="padding:10px;">Refresh (S2)</button>
	<button id="statuss3" onclick="threadStatus(3)" style="padding:10px;">Refresh (S3)</button>
<br><br>
	<div>
		<h2>Server 0</h2>
		<table>
			<thead>
				<tr>
					<th>Thread</th>
					<th>Articles</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody id="threadStatuss0"></tbody>
		</table>
	</div><br><br>

	<div>
		<h2>Server 0</h2>
		<table>
			<thead>
				<tr>
					<th>Thread</th>
					<th>Articles</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody id="threadStatuss1"></tbody>
		</table>
	</div><br><br>

	<div>
		<h2>Server 0</h2>
		<table>
			<thead>
				<tr>
					<th>Thread</th>
					<th>Articles</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody id="threadStatuss2"></tbody>
		</table>
	</div><br><br>

	<div>
		<h2>Server 0</h2>
		<table>
			<thead>
				<tr>
					<th>Thread</th>
					<th>Articles</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody id="threadStatuss3"></tbody>
		</table>
	</div><br><br>

	<script>
		
		function start(serverNumber) {
			$.post('http://localhost:300'+serverNumber+'/danger/start',function(data){
				alert('300'+serverNumber+' is done');
			});
		}

		function stop(serverNumber) {
			$.post('http://localhost:300'+serverNumber+'/danger/stop');
		}

		function threadStatus(serverNumber) {
			$('#statuss'+serverNumber).prop('disabled',true);
			$('#statuss'+serverNumber).html('WAIT');

			$.ajax({
			    url: 'http://localhost:300'+serverNumber+'/danger/threadStatus',
			    type: 'POST',
			    success: function(data){
					$('#statuss'+serverNumber).prop('disabled',false);
					$('#statuss'+serverNumber).html('Refresh');

					data = JSON.parse(data);
					var s;

					$("#threadStatuss"+serverNumber).html('');
					for(var i=0; i<data.length ; i++){

						s = data[i].status? 'Active': 'Inactive';

						$("#threadStatuss"+serverNumber).append(`
							<tr>
								<td>${i+1}</td>
								<td>${data[i].count}</td>
								<td>${s}</td>
							</tr>
						`);

					}

				},
			});

		}

		$(document).ready(function(){

			$("#start").click(function(){
				$(this).prop('disabled',true);
				$(this).html('Downloading . . .');
				start(0);
				start(1);
				start(2);
				start(3);
			});

			$("#stop").click(function(){
				$(this).prop('disabled',true);
				$(this).html('Stopping . . .');

				stop(0);
				stop(1);
				stop(2);
				stop(3);

				$("#start").prop('disabled',false);
				$("#start").html('Start Downloading');
					
				$("#start").prop('disabled',false);
				$("#start").html('Stop Downloading');

				$("#status").prop('disabled',true);
				$("#threadStatus").html(data);

			});

		});

	</script>

</body>
</html>